#header {
    font-family: "Smooch", cursive;
    color: #00c086;
    padding-bottom: 10px;
    font-size: 60px;
  }

.Navi {
    margin-top: -60px;
    box-shadow: none;
}

a{
    color: white !important;
    font-weight: 500;
    font-size: 20px;
    }
a:hover {
    color: #FF5DB2 !important;
    font-weight: bold;
}
#logo {
    max-width: 75px;
    max-height: 75px;
    float: left;
}
#testing {
    color: black !important;
}