body {
  background-color: #282c34 !important;
  color: white !important;
}
#theDoor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.logger {
  max-width: 50% !important;
  color: red !important;
}

#container {
  background-color: purple;
}